@import url("https://gozo-ui.netlify.app/CSS/style.css");

:root {
    --white : #ffffff;
}

main#homepage {
    margin: 4rem 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.headings {
    align-self: flex-start;
}

.category-tab {
    border-top: 1px solid var(--text-gray);
    border-bottom: 1px solid var(--text-gray);
    padding: .5rem 0rem .5rem 0rem;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.category-chip {
    border: 1px solid var(--text-gray);
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: 0rem 1rem 0 1rem;
    cursor: pointer;
}

.category-chip:hover {
    background-color: var(--text-gray);
    color: var(--white);
}

.video-listing {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    justify-content: center;
}

.video-thumbnail {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 15rem;
    gap: .5rem;
    cursor: pointer;
    justify-content: space-between;
}

.video-thumbnail img:hover {
    filter: drop-shadow(0 0 0.25rem var(--text-gray));
}

.video-title {
    font-weight: bold;
}

.channel-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.gc {
    margin-bottom: 1rem;
}